<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerHomeUrl1" value="http://localhost:8000" />
    <add key="ServerUploadUrl1" value="http://localhost:8000/upload" />
    <add key="ServerType1" value="1" />
    <add key="UseLocalCommodMapFile" value="true"/>
    <add key="BypassPPAntialiasFontCheck" value="false"/>
    <add key="TitleBarHeight" value="20"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="debugListener" type="ppaocr.CustomListener, ppaocr" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>